# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDEs
.idea/
.vscode/
